<h2>ログインページ</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class='form-text-wrap'>
    <label class="form-text">メールアドレス</label>
  </div>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class='form-text-wrap'>
    <label class="form-text">パスワード</label>
  </div>
  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :入力内容を記憶する %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= link_to "パスワードを忘れてしまった場合", new_password_path(resource_name) %><br />
<%= render "users/shared/links" %>
<%= link_to 'トップページに戻る', root_path, class: "root-page" %>
