<%= render "shared/second_header" %>

<div class="purchase-clothe-page">
  <h1 class="purchase-clothe-title">商品購入ページ</h1>


  <%= form_with(model: @user_purchase, id: 'charge-form', url: clothe_purchases_path, local: true) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

    <h3 class="purchase-form-cohesive">カード情報入力</h3>
    <div class="">
      <div class="">
        <label class="">カード番号(半角英数)</label>
      </div>
      <%= f.text_field :number, class:"number", placeholder:"4242424242424242", maxlength:"16" %>
    </div>

    <div class="">
      <div class="">
        <label class="">ＣＶＣ</label>
      </div>
      <%= f.text_field :cvc, class:"cvc", placeholder:"123", maxlength:"4" %>
    </div>

    <div class="">
      <div class="">
        <label class="">有効期限</label>
      </div>
      <div class="">
        <span><%= f.text_field :exp_month, class:"exp_month", placeholder:"12", maxlength:"2"%>月</span>
        <span><%= f.text_field :exp_year, class:"exp_year", placeholder:"23", maxlength:"2"%>年</span>
      </div>
    </div>

    <h3 class="purchase-form-cohesive">配送先情報入力</h3>
    <div class="">
      <div class="">
        <label class="">郵便番号(ハイフンあり)</label>
      </div>
      <%= f.text_field :postal_code, class:"", id:"postal-code", placeholder:"123-4567", maxlength:"8" %>
    </div>

    <div class="">
      <div class="">
        <label class="">都道府県</label>
      </div>
      <%= f.collection_select(:prefecture, Prefecture.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
    </div>

    <div class="">
      <div class="">
        <label class="">市町村区</label>
      </div>
      <%= f.text_field :city, class:"", id:"city", placeholder:"例）東京都品川区"%>
    </div>

    <div class="">
      <div class="">
        <label class="">番地</label>
      </div>
      <%= f.text_field :address_1, class:"", id:"addresses", placeholder:"例）品川1-1-1" %>
    </div>

    <div class="">
      <div class="">
        <label class="">建物名(任意)</label>
      </div>
      <%= f.text_field :address_2, class:"", id:"buildings", placeholder:"例）◯◯マンション101" %>
    </div>

    <div class="">
      <div class="">
        <label class="">電話番号(ハイフンなし)</label>
      </div>
      <%= f.text_field :phone_number, class:"", id:"", placeholder:"09012345678", maxlength:"11"%>
    </div>

    <div class="">
      <div class="">
        <label class=""></label>
      </div>
    </div> 

    <br>

    <%= f.submit "購入", class:"btn-square-so-pop" %>
    
  <% end %>
  <br>
  <%= link_to "商品詳細画面へ戻る", clothe_path(@clothe.id), class:"btn btn--orange btn--radius" %>
</div>

<%= render "shared/footer" %>

