<%= render "shared/header"%>

<br>
<br>
<br>

<h3 class="page-title">投稿商品一覧</h3>

<ul class='clothe-lists'>
  <% if @clothes.present? %>
    <% @clothes.each do |clothe| %>
      <li class='clothe-list'>

        <div class="msr_box01">
          <div class=''>
            <%= link_to image_tag(clothe.image, class: "clothe-img"), clothe_path(clothe.id) %>
          </div>

          <div class=''>
            <h3 class='ttl'>
              <%= clothe.name %>
            </h3>
            
            <p class=''>
              <% unless clothe.history.present?%>
                <span>¥<%= clothe.price %></span>
              <% else %>
                <%= image_tag "/images/soldout.png" %>
              <% end %>
            </p>
          </div>

        </div>
      </li>
    <% end %>
  <% else %>
    <p>※商品が存在しません※</p>
  <% end %>
</ul>