<%= render "shared/header"%>
<h3 class="page-title">投稿商品一覧(新着順)</h3>

<ul class='clothe-lists'>
  <% if @clothes.present? %>
    <% @clothes.each do |clothe| %>
      <li class='clothe-list'>

        <div class="msr_box01">
          <div class=''>
            <%= link_to image_tag(clothe.image, class: "clothe-img"), clothe_path(clothe.id) %>
          </div>

          <div class=''>
            <h3 class='ttl'>
              <%= clothe.name %>
            </h3>
            
            <p class='index-money'>
              <% unless clothe.history.present? %>
                <span>¥<%= clothe.price.to_s(:delimited) %></span>
                  <% if clothe.delivery_burden_id == 2 %>
                    <span>(送料購入者負担)</span>
                  <% end %>
              <% else %>
                <%= image_tag "/images/soldout.png" %>
              <% end %>
            </p>
          </div>

        </div>
      </li>
    <% end %>
  <% else %>
    <p>※商品が存在しません※</p>
  <% end %>
</ul>

<%= render "shared/footer" %>