<%= render "shared/header"%>

<div class="syousaizenbu">
  <h1 class="syouhinsyousai">商品詳細</h1>
  <div class="syousainazyouhou">

    <%= image_tag(@clothe.image, class:"show-clothe-image") %><br>
    <% if @clothe.history.present? %>
      <%= image_tag "/images/soldout.png", class: "soldout" %>
      <%= image_tag "/images/soldout.png", class: "soldout" %>
      <%= image_tag "/images/soldout.png", class: "soldout" %>
    <% else %>
    <div class="syouhinnozyouhou">
      <span style="text-decoration: underline">出品者</span>
      <span style="font-weight: bold;"><%= @clothe.user.nickname %></span><br>
      <span style="text-decoration: underline">値段</span>
      <span style="font-weight: bold;">¥<%= @clothe.price.to_s(:delimited) %></span><br>
      <span style="text-decoration: underline">商品名</span>
      <span style="font-weight: bold;"><%= @clothe.name %></span><br>
      <span style="text-decoration: underline">商品の説明</span>
      <span style="font-weight: bold;"><%= @clothe.text %></span><br>
      <span style="text-decoration: underline">カテゴリー</span>
      <span style="font-weight: bold;"><%= @clothe.category.name %></span><br>
      <span style="text-decoration: underline">サイズ</span>
      <span style="font-weight: bold;"><%= @clothe.size.name %></span><br>
      <span style="text-decoration: underline">商品の状態</span>
      <span style="font-weight: bold;"><%= @clothe.state.name %></span><br>
      <span style="text-decoration: underline">配送料の負担</span>
      <span style="font-weight: bold;"><%= @clothe.delivery_burden.name %></span><br>
      <span style="text-decoration: underline">配送方法</span>
      <span style="font-weight: bold;"><%= @clothe.delivery_method.name %></span><br>
      <span style="text-decoration: underline">発送元の地域</span>
      <span style="font-weight: bold;"><%= @clothe.delivery_source.name %></span><br>
      <span style="text-decoration: underline">発送までの日数</span>
      <span style="font-weight: bold;"><%= @clothe.delivery_day.name %></span><br>
    </div>
    <% end %>
    <br>

<% if user_signed_in? %>
  <% unless @clothe.history.present? %>
    <% if current_user.id == @clothe.user_id %>
      <%= link_to "商品編集", edit_clothe_path %>
      <%= link_to "商品削除", clothe_path, method: :delete %>
    <% else%>
      <%= link_to "商品購入", clothe_purchases_path(@clothe.id) %>
    <% end %>
  <% end %>
<% end %>
  </div>
</div>
