<%= render "shared/header"%>

<div class="syousaizenbu">
  <h1 class="syouhinsyousai">商品詳細</h1>
  <div class="syousainazyouhou">

    <%= image_tag(@clothe.image, class:"show-clothe-image") %><br>
    <% if @clothe.history.present? %>
      <%= image_tag "/images/soldout.png", class: "soldout" %>
      <%= image_tag "/images/soldout.png", class: "soldout" %>
      <%= image_tag "/images/soldout.png", class: "soldout" %>
      <%= image_tag "/images/soldout.png", class: "soldout" %>

    <% else %>
    <div class="clothe-main-details">
      <span class="clothe-main-name" style="font-weight: bold;"><%= @clothe.name %></span><br><br>
      <span class="clothe-main-price" style="font-weight: bold;">¥<%= @clothe.price.to_s(:delimited) %></span>
      <% if @clothe.delivery_burden_id == 2 %>
        <span>(送料別)</span>
      <%else%>
        <span>(送料込)</span>
      <% end %><br>
    </div>

    <table class="detail-table">
      <tr>
        <th>出品者</th>
        <td style="font-weight: bold;"><%= @clothe.user.nickname %></td>
      </tr>
      <tr>
        <th>商品の説明</th>
        <td style="font-weight: bold;"><%= @clothe.text %></td>
      </tr>
      <tr>
        <th>カテゴリー</th>
        <td style="font-weight: bold;"><%= @clothe.category.name %></td>
      </tr>
      <tr>
        <th>サイズ</th>
        <td style="font-weight: bold;"><%= @clothe.size.name %></td>
      </tr>
      <tr>
        <th>商品の状態</th>
        <td style="font-weight: bold;"><%= @clothe.state.name %></td>
      </tr>
      <tr>
        <th>配送料の負担</th>
        <td style="font-weight: bold;"><%= @clothe.delivery_burden.name %></td>
      </tr>
      <tr>
        <th>配送方法</th>
        <td style="font-weight: bold;"><%= @clothe.delivery_method.name %><td>
      </tr>
      <tr>
        <th>発送元の地域</th>
        <td style="font-weight: bold;"><%= @clothe.delivery_source.name %></td>
      </tr>
      <tr>
        <th>発送までの日数</th>
        <td style="font-weight: bold;"><%= @clothe.delivery_day.name %></td>
      </tr>
    </table>
    <% end %>
    <br>

    <% if user_signed_in? %>
      <% unless @clothe.history.present? %>
        <% if current_user.id == @clothe.user_id %>
          <%= link_to "商品編集", edit_clothe_path, class:"btn-square-so-pop" %>
          <%= link_to "商品削除", clothe_path, method: :delete, class:"btn-square-so-pop" %>
        <% else%>
          <%= link_to "商品購入", clothe_purchases_path(@clothe.id), class:"btn-square-so-pop" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
