<h2>ユーザー新規登録</h2>

<%= form_with model: @user, url: user_registration_path, class: '', local: true do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class='form-text-wrap'>
    <label class="form-text">ニックネーム</label>
  </div>
  <div class="field">
    <%= f.text_field :nickname, class:"input-default", id:"nickname", placeholder:"例)yamada太郎", maxlength:"40", autofocus: true %>
  </div>

  <div class='form-text-wrap'>
    <label class="form-text">メールアドレス</label>
  </div>
  <div class="field">
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"street@example.jp" %>
  </div>

  <div class='form-text-wrap'>
    <label class="form-text">パスワード(半角6文字以上)</label>
  </div>
  <div class="field">
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"大文字、数字を含む" %>
  </div>

  <div class='form-text-wrap'>
    <label class="form-text">パスワード(確認用)</label>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, class:"input-default", id:"password_confirmation", placeholder:"確認用" %>
  </div>

  <div class='form-text-wrap'>
    <label class="form-text">お名前(全角)</label>
  </div>
  <div class="field">
    <%= f.text_field :surname, class:"input-name", id:"surname", placeholder:"姓" %>
    <%= f.text_field :first_name, class:"input-name", id:"first-name", placeholder:"名" %>
  </div>

  <div class='form-text-wrap'>
    <label class="form-text">お名前カナ(全角)</label>
  </div>
  <div class="field">
    <%= f.text_field :surname_kana, class:"input-name", id:"surname_kana", placeholder:"姓(カナ)" %>
    <%= f.text_field :first_name_kana, class:"input-name", id:"first-name_kana", placeholder:"名(カナ)" %>
  </div>

  <div class='form-text-wrap'>
    <label class="form-text">性別</label>
  </div>
  <div class="field">
    <%= f.radio_button :sex_id, :male, checked: true %>
    <%= f.label :sex_id, "男性"%>
    <%= f.radio_button :sex_id, :female %>
    <%= f.label :sex_id, "女性"%>
    <%= f.radio_button :sex_id, :other %>
    <%= f.label :sex_id, "その他"%>
  </div>

  <div class='form-text-wrap'>
    <label class="form-text">生年月日</label>
  </div>
  <div class="field">
    <%= raw sprintf(
                  f.date_select(
                    :birthday,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year - 5),
                    date_separator: '%s'),
                  "年", "月") + "日" %>
  </div>


  <div class="actions">
    <%= f.submit "登録" %>
  </div>

<% end %>

<%= render "users/shared/links" %>
<%= link_to 'トップページに戻る', root_path, class: "root-page" %>
